{% extends "home.html"%}

{% block title %}
    Perfil - {{usuario.username}}
{%endblock%}

{% block body %}
<body>
    {%include "navbar.html"%}
    <div class="container"></div>
        {%if form_foto%}
            <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
                {{ form_foto.csrf_token }}
            <h2>{{usuario.username}} - Enviar foto</h2>

            <div class="bloco-arquivo">
                <label for="foto" class="botao-arquivo">
                Escolher arquivo
                {{form_foto.foto(class="input-arquivo", id="foto")}}
                </label>
                <span id="imagem-arquivo" class=""></span>
                </div>
                    <button type="submit" class="botao-login" id="submit-button" style="display: none;">Publicar</button>
                </form>

        {%else%}
            <div class = "bloco-add-img">
                <h2>{{usuario.username}} - Ver Perfil</h2>
            </div>

        {%endif%}
    </div>

    <div class="conteudo">
    {%for foto in usuario.fotos%}
        <div class="bloco-imagem">
          <img src="{{url_for('static', filename = 'fotos_post/' ~ foto.imagem )}}" />
        </div>
    {%endfor%}
    </div>

    <script>
        let input = document.getElementById("foto");
        let imagemArquivo = document.getElementById("imagem-arquivo");
        let submitButton = document.getElementById("submit-button");
    
        input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];
    
        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;

        // Mostra o botão de submit se um arquivo for selecionado
        if (inputImagem) {
            submitButton.style.display = "block";
        } else {
            submitButton.style.display = "none";
        }
        });
      </script>

</body>
{%endblock%}